@media (orientation: portrait) {
	/* Portrait 세로모드일 때 적용할 CSS */
  .nav_var{width: 101vw; height: 11vw; margin-top:-15vw; margin-left: -9pt; background-color: #0E3767; position: fixed; z-index: 1;}
  .nav_txt{font-size: 3.5vw; color: white; font-weight: bolder; text-align: center; padding-top: 3.5vw;}
  .sub_padding{padding-top: 13vw; position: relative;}
  .sub_sub{margin-left: 2vw; margin-top: 2vw; margin-bottom: 0.5vw; padding-top: 0.5vw; padding-bottom: 0.5vw;; font-weight: bolder; font-size: 2.5vw; text-align: center; background-color: gray; opacity: 0.7; width: 80vw; margin-left: 10vw;}
  .sub_explain{width: 80vw; margin-left: 10vw;}
  hr{color: gray; width: 80vw;}
  .duqor{padding-bottom: 10vw;}

}

@media (orientation: landscape) {
	/* Landscape 가로모드일 때 적용할 CSS */
  .nav_var{width: 101vw;height: 3.5vw; margin-top: -6vw; margin-left: -9pt; background-color: #0E3767; position: fixed; z-index: 1;}
  .nav_txt{font-size: 1.3vw; color: white; font-weight: bolder; margin-left: 3.5vw; padding-top: 1vw;}
  .sub_padding{padding-top: 5vw; position: relative;}
  .sub_sub{margin-left: 2vw; margin-top: 2vw; margin-bottom: 0.5vw; padding-top: 0.5vw; padding-bottom: 0.5vw;; font-weight: bolder; font-size: 1vw; text-align: center; background-color: gray; opacity: 0.7; width: 50vw; margin-left: 25vw;}
  .sub_explain{width: 50vw; margin-left: 25vw;}
  hr{color: gray; width: 50vw;}
  .duqor{padding-bottom: 5vw;}
}
